# Игнорировать Jupyter Notebook контрольные файлы
.ipynb_checkpoints/

# Игнорировать Jupyter Notebook конвертированные файлы
*.nbconvert.ipynb

# Игнорировать конфигурационные файлы Jupyter
.jupyter/

# Игнорировать временные или промежуточные файлы
*.tmp
*.temp

# Игнорировать каталоги виртуальных окружений
venv/
.env/

# Игнорировать настройки PyCharm
.idea/

# Игнорировать компилированные Python файлы
*.pyc
__pycache__/

# Игнорировать логи
*.log
